<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.future.permission.mapper.AuthorizeMapper">

    <resultMap id="ModuleVO" type="com.future.module.system.model.module.ModuleModel">
        <id column="f_id" property="id"/>
        <result column="f_parent_id" property="parentId"/>
        <result column="f_full_name" property="fullName"/>
        <result column="f_en_code" property="enCode"/>
        <result column="f_type" property="type"/>
        <result column="f_url_address" property="urlAddress"/>
        <result column="f_link_target" property="linkTarget"/>
        <result column="f_category" property="category"/>
        <result column="f_icon" property="icon"/>
        <result column="f_sort_code" property="sortCode"/>
        <result column="f_property_json" property="propertyJson"/>
        <result column="f_system_id" property="systemId"/>
        <result column="f_description" property="description"/>
        <result column="f_creator_time" property="creatorTimes"/>
    </resultMap>

    <resultMap id="ButtonVO" type="com.future.module.system.model.button.ButtonModel">
        <id column="f_id" property="id"/>
        <result column="f_parent_id" property="parentId"/>
        <result column="f_full_name" property="fullName"/>
        <result column="f_en_code" property="enCode"/>
        <result column="f_icon" property="icon"/>
        <result column="f_url_address" property="urlAddress"/>
        <result column="f_module_id" property="moduleId"/>
        <result column="f_creator_time" property="creatorTimes"/>
    </resultMap>

    <resultMap id="ColumnVO" type="com.future.module.system.model.column.ColumnModel">
        <id column="f_id" property="id"/>
        <result column="f_parent_id" property="parentId"/>
        <result column="f_full_name" property="fullName"/>
        <result column="f_en_code" property="enCode"/>
        <result column="f_bind_table" property="bindTable"/>
        <result column="f_bind_table_name" property="bindTableName"/>
        <result column="f_module_id" property="moduleId"/>
        <result column="f_creator_time" property="creatorTimes"/>
    </resultMap>

    <resultMap id="ResourceVO" type="com.future.module.system.model.resource.ResourceModel">
        <id column="f_id" property="id"/>
        <result column="f_full_name" property="fullName"/>
        <result column="f_en_code" property="enCode"/>
        <result column="f_condition_json" property="conditionJson"/>
        <result column="f_condition_text" property="conditionText"/>
        <result column="f_module_id" property="moduleId"/>
        <result column="f_match_logic" property="matchLogic"/>
        <result column="f_object_id" property="objectId"/>
        <result column="f_creator_time" property="creatorTimes"/>
    </resultMap>

    <resultMap id="FormVO" type="com.future.module.system.model.form.ModuleFormModel">
        <id column="f_id" property="id"/>
        <result column="f_parent_id" property="parentId"/>
        <result column="f_full_name" property="fullName"/>
        <result column="f_en_code" property="enCode"/>
        <result column="f_module_id" property="moduleId"/>
        <result column="f_creator_time" property="creatorTimes"/>
    </resultMap>

    <resultMap id="SystemVO" type="com.future.module.system.model.base.SystemBaeModel">
        <id column="f_id" property="id"/>
        <result column="f_full_name" property="fullName"/>
        <result column="f_en_code" property="enCode"/>
        <result column="f_icon" property="icon"/>
        <result column="f_property_json" property="propertyJson"/>
        <result column="f_description" property="description"/>
        <result column="f_sort_code" property="sortCode"/>
        <result column="f_enabled_mark" property="enabledMark"/>
        <result column="f_workflow_enabled" property="workflowEnabled"/>
        <result column="f_navigation_icon" property="navigationIcon"/>
        <result column="f_work_logo_icon" property="workLogoIcon"/>
        <result column="f_creator_time" property="creatorTimes"/>
    </resultMap>

    <select id="findModule" parameterType="String" resultMap="ModuleVO">
        SELECT * FROM base_module WHERE f_id IN (SELECT f_item_id FROM base_authorize WHERE f_object_id IN (${objectId}) AND f_item_type = 'module')
        <if test="mark == 1">
            and f_enabled_mark = #{mark}
        </if>
        <if test="id != null and id != ''">
            and f_system_id != #{id}
        </if>
        and f_en_code not in (
        'workFlow.addFlow','workFlow.flowLaunch','workFlow.entrust','workFlow','workFlow.flowTodo','workFlow.flowDone','workFlow.flowCirculate'
        )
        <if test="moduleAuthorize != null and moduleAuthorize.size > 0">
            and f_id not in
            <foreach collection="moduleAuthorize" item="moduleId" open="(" close=")" separator=",">
                #{moduleId}
            </foreach>
        </if>
        <if test="moduleUrlAddressAuthorize != null and moduleUrlAddressAuthorize.size > 0">
            and f_url_address not in
            <foreach collection="moduleUrlAddressAuthorize" item="urlAddress" open="(" close=")" separator=",">
                #{urlAddress}
            </foreach>
        </if>
        Order by f_sort_code asc,f_parent_id desc
    </select>

    <select id="findButton" parameterType="String" resultMap="ButtonVO">
        SELECT * FROM base_module_button WHERE f_id IN (SELECT f_item_id FROM base_authorize WHERE f_object_id IN (${objectId}) AND f_item_type = 'button') and f_enabled_mark = 1  Order by f_sort_code asc,f_creator_time desc
    </select>


    <select id="findColumn" parameterType="String" resultMap="ColumnVO">
        SELECT * FROM base_module_column WHERE f_id IN (SELECT f_item_id FROM base_authorize WHERE f_object_id IN (${objectId}) AND f_item_type = 'column') and f_enabled_mark = 1  Order by f_sort_code asc,f_creator_time desc
    </select>

    <select id="findForms" parameterType="String" resultMap="FormVO">
        SELECT * FROM base_module_form WHERE f_id IN (SELECT f_item_id FROM base_authorize WHERE f_object_id IN (${objectId}) AND f_item_type = 'form') and f_enabled_mark = 1  Order by f_sort_code asc,f_creator_time desc
    </select>

    <select id="findSystem" parameterType="String" resultMap="SystemVO">
        SELECT * FROM base_system WHERE f_id IN (SELECT f_item_id FROM base_authorize WHERE f_object_id IN (${objectId}) AND f_item_type = 'system')
        <if test="mark == 1">
            and f_enabled_mark = #{mark}
        </if>
        <if test="enCode != null and enCode != ''">
            and f_en_code != #{enCode}
        </if>
        <if test="moduleAuthorize != null and moduleAuthorize.size > 0">
            and f_id not in
            <foreach collection="moduleAuthorize" item="moduleId" open="(" close=")" separator=",">
                #{moduleId}
            </foreach>
        </if>
        Order by f_sort_code asc,f_creator_time desc
    </select>

    <select id="findResource" parameterType="String" resultMap="ResourceVO">
        SELECT s.*,a.f_object_id  FROM base_module_scheme s LEFT JOIN
	    base_authorize  a on s.f_id = a.f_item_id  WHERE a.f_object_id IN (${objectId}) and a.f_item_type = 'resource' and s.f_enabled_mark = 1  Order by s.f_sort_code asc,s.f_creator_time desc
    </select>

    <select id="findButtonAdmin" parameterType="Integer" resultMap="ButtonVO">
       SELECT * FROM base_module_button WHERE f_enabled_mark = #{mark} Order by f_sort_code asc,f_creator_time desc
    </select>

    <select id="findColumnAdmin" parameterType="Integer" resultMap="ColumnVO">
        SELECT * FROM base_module_column WHERE f_enabled_mark = #{mark} Order by f_sort_code asc,f_creator_time desc
    </select>

    <select id="findFormsAdmin" parameterType="Integer" resultMap="FormVO">
       SELECT * FROM base_module_form WHERE f_enabled_mark = #{mark} Order by f_sort_code asc,f_creator_time desc
    </select>


    <select id="findResourceAdmin" parameterType="Integer" resultMap="ResourceVO">
       SELECT * FROM base_module_scheme WHERE f_enabled_mark = #{mark} Order by f_sort_code asc,f_creator_time desc
    </select>

    <insert id="saveBatch" parameterType="String">
        INSERT INTO base_authorize (f_id, f_item_type, f_item_id, f_object_type, f_object_id, f_sort_code, f_creator_time, f_creator_user_id ) VALUES ${values}
    </insert>

    <insert id="savaBatchList" parameterType="java.util.List">
        INSERT ALL
        <foreach item="item" index="index" collection="list">
            INTO base_authorize (f_id, f_item_type, f_item_id, f_object_type, f_object_id, f_sort_code, f_creator_time,
            f_creator_user_id ) VALUES (
            #{item.id},
            #{item.itemType},
            #{item.itemId},
            #{item.objectType},
            #{item.objectId},
            #{item.sortCode,jdbcType=NUMERIC},
            #{item.creatorTime, jdbcType=TIMESTAMP},
            #{item.creatorUserId})
        </foreach>
        SELECT 1 FROM DUAL
    </insert>

</mapper>
